@import "../../../mixin";
.p-shop {
    .l-container {
        padding: 100px 20px 0 20px;
        @include res(sp) {
            padding: 60px 20px 0 20px;
        }
    }
    .c-ttl01 {
        text-align: left;
    }
    &__inner {
        padding: 60px 0 0 0;
        display: flex;
        align-items: flex-start;
        @include res(sp) {
            padding: 20px 0 0 0;
            display: block;
        }
    }
    &__content {
        width: calc(100% - 250px);
        padding-left: 50px;
        margin-top: -10px;
        @include res(tb) {
            width: calc(100% - 180px);
            padding-left: 30px;
            padding-top: 20px;
        }
        @include res(sp) {
            width: 100%;
            padding-left: 0;
        }
    }
    .c-category {
        padding-bottom: 10px;
    }
}
