.c-err{
    font-size: 1rem;
    background: rgba(214, 10, 10, 1);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.1em;
}

.c-success{
    font-size: 1rem;
    background: rgba(9, 158, 54, 1);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.1em;
}