@import "../../../mixin";

.p-profile {
    padding: 0 0 60px 0;

    @include res(sp) {
        padding: 0 0 20px 0;
    }

    &__inner{
        display: flex;
        margin-top: 50px;
        border-radius: 10px;
        padding: 50px 0; 
        box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.07);   
        @include res(tb) {
            display: block;
        } 
    }
    &__sidebar{
        border-right: 1px solid #ddd;
        padding: 0 30px;
        width: 350px;
        @include res(tb) {
            width: 100%;
            text-align: center;
        } 
        li{
            font-weight: 600;
            border-bottom: 1px solid #ddd;
            display: block;      
            padding: 10px;   
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .tap_content{
        width: calc(100% - 300px);
        padding: 0 30px;
        @include res(tb) {
            width: 100%;
            padding: 0;
        }
    }
    &__content{
        width: 100%;
        @include res(tb) {
            width: 100%;
            padding: 60px 20px 0 20px;
            text-align: center;
        } 
        .c-ttl01{
            margin-bottom: 40px;
        }
    }
    &__infor{
        display: flex;
        align-items: center;
        @include res(tb) {
            display: block;
        }         
        .avatar{
            width: 200px;
            flex-shrink: 0;
            @include res(tb) {
                margin: 0 auto;
                margin-bottom: 30px;
            } 
            .img{
                width: 100%;
                border-radius: 100%;
                margin-bottom: 15px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .name{
                text-align: center;
                font-size: 2rem;
                font-weight: 500;
            }
        }
        .infor{
            padding: 0 30px;
            p{
                margin-bottom: 10px;
                span{
                    font-weight: 500;
                }
            }
        }
    }
    &__edit{
        .img{
            height: 200px;
            width: 200px;
            display: block;
            overflow: hidden;
            border-radius: 200px;
            flex-shrink: 0;
            margin: 0 auto;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .avatar{
            display: none;
        }
        .c-success{
            margin-bottom: 30px;
        }
        .c-ttl01{
            margin-bottom: 40px;
        }
        .form_profile{
            max-width: 600px;
            margin: 0 auto;
            .form_item{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .label{
                    min-width: 200px;
                    font-weight: 500;
                    text-align: left;
                    @include res(tb) {
                        min-width: 100px;
                        flex-shrink: 0;
                        width: 20%;
                    } 
                }
                .input_visible{
                    opacity: 0.8;
                    pointer-events: none;
                    word-break: break-all;
                }
                input{
                    border: none;
                    background: #f5f4f4;
                    padding: 13px 15px 12px 15px;
                    width: 100%;
                    max-width: 475px;
                }
                .c-btn02{
                    margin: 20px auto 0;
                }
            }
        }
    }
}